@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
   
}
ul{
    list-style: none;
}
a{
   text-decoration: none;
   color:black;
}

.main-head {
  background-color: lavenderblush;
  position: fixed;
   width: 100%;
}

.head-nav {
    display: flex;
    flex-direction: row;;
    justify-content: space-around;
    flex-wrap: wrap;
   font-weight: bolder;
}
.head-nav-home {
  padding: 1rem;
}
.head-nav-links{
    display: flex;
    flex-direction: row;;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.head-nav-links li{
    padding: 1rem 0px;
}
.head-nav-links li ul.mega-sub{
        width:10rem;
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
}
.head-nav-links li ul.mega-sub li{
    padding: 1rem;
}

.head-nav-links li a{
    padding: 1rem;
}

.head-nav-links li.dropdown:hover .mega-sub{
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.head-nav-links li a:hover  {
    background-color: gainsboro;
}
.head-nav .icon {
    display: none;
    
}
.head-nav .icon li{ 
    border-bottom: 3px solid black;
    width: 2rem;
    padding: 5px 0px;
}

.head-end {
    padding: 5rem 0px;
}

.main-section {
    width: 80%;
    margin: 1rem auto;
}
.web-banner-subscription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    //background-color:lightblue;
}
.web-banner-left{
padding: 2rem 1rem;
display: flex;
flex-direction: column;
//background-color: royalblue;
}
.web-banner-left p{ 
    font-size: 1rem;
}
.web-banner-right{
    padding: 1rem;
background-color: black;    
}
.web-banner-right h2,h3,p{ 
padding: 3rem 0px;
}
.web-banner-right img{ 
width:35rem;    
}
@media only screen and (max-width:767px) {
    .head-nav .head-nav-links {
        display: none;
    }

    .head-nav .icon {
        display: block;
        padding: 5px 0px;
    }
    .web-banner-subscription {
    flex-direction: column;
    }
}