 @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
 @font-face {
  font-family: eca-fonts;
  src: url(../global/eca-fonts.ttf);
}

html {
  --top-spacing: 100px;
}

body {
  scroll-padding-top: var(--top-spacing);

  margin: var(--top-spacing) 0;
  -webkit-font-smoothing: antialiased;
}
input{
  font-family: 'eca-fonts',"Lato", sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}

.page-content {
  font-family: 'eca-fonts',"Lato", sans-serif;
  width: 80%;
  margin: 0px auto;
  
}
.subscription-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.row-0-col-1{
  display: flex;
  flex-flow: column nowrap;
  padding: 5%;
}
.row-0-col-1 form {
  background-color: burlywood;
  width: 100%;
}
.row-0-col-1 input.input-email{
  border:0;
  min-width: 100px;
  max-width: 100%;
  height: 30px;
  
  border:2px solid #2980b9;
 outline: none;
}

.row-0-col-1 input.input-submit{
  border:0;
  
  min-width: 70px;
  max-width: 100%;
  height: 36px;
  border:2px solid #2980b9;
  color:#FFF;
  background-color: #2980b9;
  outline: none;
  margin-left: -5px;
}
.row-0-col-2{
  display: flex;
  flex-flow: column nowrap;
  padding: 5%;
}
@media only screen and (max-width: 767px) {
  .page-content {
    width: 100%;
  }
  .subscription-page {
    display: flex;
    flex-flow: column wrap;
  }
}

/*
.subscribe-section {
  max-width: 80%;
  margin: auto;
}
.subscription-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding:30px;  
}
.row-0-col-1{
  padding: 5rem;
  flex-grow: 1;
  flex-shrink: 1;
}
.row-0-col-1 .content{
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 50px;
  
}
.row-0-col-1 .content h2{ 
  padding: 30px 0px;
}
.row-0-col-1 .content form {
  padding: 10px 0px;
}
.row-0-col-1 .content form .input-email{
  border:2px solid #2980b9;
   height:  40px;
  outline: none;
  min-width: 50%;
  font-weight: bold;
  padding:1px 5px;
 
}
.row-0-col-1 .content form .input-submit{
  border:0;
  outline: none;
  height:  46px;
  border:2px solid #2980b9;
  min-width: 30%;
  margin-left: -5px;
  background-color: #2980b9;
  color: #FFF;

}
.row-0-col-2{
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
  

}
.row-0-col-2 object{
width: 50%;
margin: 0 auto;
}
.card-section {
  text-align: center;
}
.card-section-page {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.embedded-card,.rtos-card,.linux-card,.qt-card {
  padding: 5rem;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  
  box-shadow:10px 10px 10px gray;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back a{
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  width: 100%;
  background-color: rgb(29, 29, 3);
  color: white;
  justify-content: center;
  align-items: center;
}
.flip-card-back a h2{
 
}

.flip-card-back a i{ 
  font-size: 20px;
  padding:15px 5px;
}
.flip-card-back a:hover{
  background-color: rgb(71, 71, 66);
}












































.page-space {
  height: 700px;
} */
 /* 
@media only screen and (max-width: 1024px) {
  .page-content {
      width: 90%;
      margin: auto;
    }
  
 .subscribe-section {
    width: 100%;
    padding: 0;
    margin:0px auto;
    
  }
  .row-0-col-1{
    width: 100%;
    padding:0;
  } 
}*/

/*@media only screen and (max-width: 767px) {
  .page-content {
      width: 100%;
      margin: auto;
    }
   .subscribe-section {
    width: 100%;
    padding: 0;
    margin:0px auto;
    
  }
  .row-0-col-1{
    width: 100%;
    padding:0;
  }
  .row-0-col-1 .content{
    width: 100%;
  }

  .row-0-col-2{
    width: 100%;
    margin: 30px auto;
  }
  .row-0-col-2 object{
    width: 100%;
  } 
}*/